/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*-----Variables-----*/
:root {
  --heading-font: 'Michroma';
  --text-font: 'Tinos';
  --blue-color: #18556d;
}

/*----Checkered Background-----*/
@media (min-width: 64rem) {
  body {
      background-color: white;
      background-image:
        linear-gradient(45deg, black 25%, transparent 25%),
        linear-gradient(-45deg, black 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, black 75%),
        linear-gradient(-45deg, transparent 75%, black 75%);
      background-size: 80px 80px;
      background-position: 0 0, 0 40px, 40px -40px, -40px 0; /* Must be half of the background-size*/
    }

    #wrapper {
      max-width: 1200px;
      margin: 2rem auto;
      border: 3px var(--blue-color) solid;
      background-color: white;
      padding: 1rem;
    }
}

/*-----Header-----*/
#top-header {
  font-family: var(--heading-font);
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.siteName a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

#tools a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

/*-----Footer-----*/
.copyright {
  display: flex;
  justify-content: center;
  font-family: var(--heading-font);
}

/*-----Navigation-----*/
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;  
  list-style: none;
  padding: .5rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-family: var(--text-font);
}

/*-----index.ejs-----*/
h1 {
  font-family: var(--heading-font);
  text-align: center;
}

#hero-section {
  display: grid;
  grid-template-columns: 3 1fr;
  grid-template-rows: 2 1fr;
}

#hero-section img {
  grid-column: 1/4;
  grid-row: 1/3;
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

#hero-overlay {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  display: flex;
  flex-direction: column;

}

#hero-overlay h2 {
  font-family: var(--text-font);
  color: var(--blue-color);
  margin-bottom: 0.3rem;  
}

#hero-list {
  padding-bottom: 0.3rem;
}

.hero-list-item {
  padding: none;
  margin: 0.1rem;
  color: var(--blue-color);
}

#hero-overlay a {
  text-decoration: none;
  background-color: var(--blue-color);
  color: white;
  font-family: var(--text-font);
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0 2px 8px gray;
}

.delorean-info {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.delorean-info h3 {
  font-family: var(--heading-font);  
}

#reviews-list {
  padding-left: 0; 
  font-family: var(--text-font);
  font-size: 1rem; 
}

.review-list-item {
  padding: 0.3rem;  
}

#upgrades {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 0.5rem;
}

.upgrade {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;  
}

.img-div {
  background-color: var(--blue-color);
  border: 1px solid black;
  width: 100%;
  height: 85px;
  padding: 0.5rem;
}

.img-div img {
  width: 50px;
  height: auto;  
  display: block;
  margin: 0 auto;
}

.upgrade a {
  font-family: var(--text-font);
  padding-bottom: 0.5rem;
  color: black;
  text-decoration: none;
}

.upgrade a:hover {
  text-decoration: underline;
}

/*-----Inventory-----*/
#inv-display {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding-bottom: 1rem;
}

#inv-display li {
  border: 1px solid black;
  box-shadow: 0 2px 8px gray;
  padding: .5rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inv-display img {
  height: 125px;
  width: auto;
}

.namePrice {
  margin: 0 auto;
}

.namePrice a {
  color: black;
  text-decoration: none;
  font-family: var(--text-font);
  margin-bottom: 0;
}

.namePrice span {
  font-family: var(--text-font);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.notice {
  font-family: var(--text-font);
  text-align: center;
  font-size: 1.3rem;
}


/*-----Vehicle Details Page-----*/
#img-and-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#img-and-details img {
  max-width: 600px;  
  height: auto;
  object-fit: cover;
  box-shadow: 0 2px 8px gray;
}

#details {
  min-width: 300px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}

#details h2 {
  text-align: center;
  background-color: var(--blue-color);
  color: white;
}


/*-----Error Message Page-----*/
#error-msg {
  text-align: center;
  font-family: var(--text-font);
  font-size: 2rem;
}