<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!--Message View-->
<%- messages() %>

<!--Links to add new classification and add new inventory forms-->
<div id="management-div">
    <a class="management-link" href="/inv/add-classification">New Classification</a>
    <a class="management-link" href="/inv/add-inventory">New Inventory</a>
</div>